extends base

block content   
    if errorMessage 
        span= errorMessage
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        label(for='avatar') Avatar 
        input(type='file', id='avatar', name='avatar', accept='image/*')
        input(placeholder='Name',name='inputName', type='text', requird, value=loggedInUser.name) 
        input(placeholder='Email',name='inputEmail', type='email', requird, value=loggedInUser.email) 
        input(placeholder='Username',name='inputUsername', type='text', requird, value=loggedInUser.username) 
        input(placeholder='Location',name='inputLocation', type='text', requird, value=loggedInUser.location)
        input(type='submit', value='Update Profile')
        if !loggedInUser.socialOnly
            div.edit-profile__password
                a(href='/users/change-password') Change Password